<div class='d-flex justify-content-center align-items-center h-100 position-relative text-center'>

	<div class='col-12 col-md-8 col-lg-6 col-xl-4'>

		<h3 class='text-center toggleTheme'>{{ 'projects.title' | translate }}</h3>

		<hr class='w-75 toggleTheme' />

		<div class='row justify-content-center align-items-center'>

			<a href='https://awesometracker.ddns.net/' class='toggleTheme border m-2 p-2 text-decoration-none w-75'>Awesometracker</a>

		</div>

		<div class='row justify-content-center align-items-center'>

			<a href='https://ppabli.ddns.net/' class='toggleTheme border m-2 p-2 text-decoration-none w-75'>Portfolio</a>

		</div>

	</div>

</div>
