<div class='d-flex justify-content-center align-items-center h-100 position-relative text-center'>

	<div class='col-12 col-md-8 col-lg-6 col-xl-4'>

		<h3 class='text-center toggleTheme'>{{ 'languages.title' | translate }}</h3>

		<hr class='w-75 toggleTheme' />

		<div class='row justify-content-center align-items-center'>

			<p class='toggleTheme border m-2 p-2 col-3'>Java</p>
			<p class='toggleTheme border m-2 p-2 col-3'>Python</p>
			<p class='toggleTheme border m-2 p-2 col-3'>C</p>
			<p class='toggleTheme border m-2 p-2 col-3'>C++</p>
			<p class='toggleTheme border m-2 p-2 col-3'>JS</p>
			<p class='toggleTheme border m-2 p-2 col-3'>NodeJS</p>
			<p class='toggleTheme border m-2 p-2 col-3'>TS</p>
			<p class='toggleTheme border m-2 p-2 col-3'>MySQL</p>
			<p class='toggleTheme border m-2 p-2 col-3'>PHP</p>
			<p class='toggleTheme m-2 p-2 col-12'>{{ 'languages.more' | translate }}</p>

		</div>

	</div>

</div>