<div class='d-flex justify-content-center align-items-center h-100 position-relative text-center'>

	<div class='col-12 col-md-8 col-lg-6 col-xl-4'>

		<h3 class='text-center toggleTheme'>{{ 'languages.title' | translate }}</h3>

		<hr class='w-75 toggleTheme' />

		<div class='row justify-content-center align-items-center'>

			<p class='toggleTheme border m-2 p-2 w-25'>Java</p>
			<p class='toggleTheme border m-2 p-2 w-25'>Python</p>
			<p class='toggleTheme border m-2 p-2 w-25'>C</p>
			<p class='toggleTheme border m-2 p-2 w-25'>C++</p>
			<p class='toggleTheme border m-2 p-2 w-25'>JS</p>
			<p class='toggleTheme border m-2 p-2 w-25'>NodeJS</p>
			<p class='toggleTheme border m-2 p-2 w-25'>TS</p>
			<p class='toggleTheme border m-2 p-2 w-25'>MySQL</p>
			<p class='toggleTheme border m-2 p-2 w-25'>PHP</p>

		</div>

	</div>

</div>