<div class='d-flex justify-content-center align-items-center h-100 position-relative text-center'>

	<div class='col-12 col-md-8 col-lg-6 col-xl-4'>

		<h3 class='text-center toggleTheme'>{{ 'tecnologies.title' | translate }}</h3>

		<hr class='w-75 toggleTheme' />

		<div class='row justify-content-center align-items-center'>

			<p class='toggleTheme border m-2 p-2 col-6 col-md-4'>Angular</p>
			<p class='toggleTheme border m-2 p-2 col-6 col-md-4'>VueJS</p>
			<p class='toggleTheme border m-2 p-2 col-6 col-md-4'>Bootstrap</p>
			<p class='toggleTheme border m-2 p-2 col-6 col-md-4'>Docker</p>
			<p class='toggleTheme border m-2 p-2 col-6 col-md-4'>SpringBoot</p>
			<p class='toggleTheme border m-2 p-2 col-6 col-md-4'>Jenkins</p>
			<p class='toggleTheme m-2 p-2 col-12'>{{ 'tecnologies.more' | translate }}</p>

		</div>

	</div>

</div>